<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
	<meta charset="UTF-8">
	<title>ejs</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/less/site.css">
</head>
<header>
	welcome: {{name}}
</header>
<body ng-controller="bodyCtrl" ng-cloak>
<div class="wrapper">

